
@media only screen and (max-width: 450px){
    #nav2div{
        display: none;
    }
    #nav1btn{
        display: none;
    }
  
    #logo{
        display: none;
    }
    
}

.options:hover{
    cursor: pointer;
}


/*  footer */


.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links , .f-info-social , .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    /* all for footer to stick at bottom  start*/  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#wraper{
    flex: 1;
}